extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Morbi lobortis gravida justo. Praesent eleifend magna libero, ut volutpat ante porta a. Nulla consectetur tortor a tortor bibendum vulputate. Proin bibendum mauris ac tincidunt facilisis. Donec et viverra tellus. Donec venenatis ante sit amet felis ornare hendrerit. Duis porttitor diam sed nulla tincidunt finibus   
                p el pellentesque mauris posuere ut. Sed in semper arcu. Nulla scelerisque dignissim sem at posuere. Curabitur dolor metus, rhoncus in fringilla ac, scelerisque pellentesque felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent dignissim
                p el pellentesque mauris posuere ut. Sed in semper arcu. Nulla scelerisque dignissim sem at posuere. Curabitur dolor metus, rhoncus in fringilla ac, scelerisque pellentesque felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent dignissim
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono de Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Ut auctor rhoncus tortor. Fusce aliquam leo ante, vel pellentesque mauris posuere ut. Sed in semper arcu. Nulla scelerisque dignissim sem at posuere. Curabitur dolor metus, rhoncus in fringilla ac,
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono de Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Ut auctor rhoncus tortor. Fusce aliquam leo ante, vel pellentesque mauris posuere ut. Sed in semper arcu. Nulla scelerisque dignissim sem at posuere. Curabitur dolor metus, rhoncus in fringilla ac,
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono de Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Ut auctor rhoncus tortor. Fusce aliquam leo ante, vel pellentesque mauris posuere ut. Sed in semper arcu. Nulla scelerisque dignissim sem at posuere. Curabitur dolor metus, rhoncus in fringilla ac,